@charset "utf-8";
body, p, h1, h2, span, input[type="text"] {
	font-family: Lato, sans-serif, Arial;
}
p, table.elems, ul {
	margin-right: 15em;
}
table {
	border-collapse:collapse;
}
/*	http://cssdeck.com/labs/css-metallic-background	*/
table.elems, li span.example {
	background: -webkit-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -webkit-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
	background: -moz-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -moz-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -moz-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -moz-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
	background: -ms-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -ms-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -ms-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -ms-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
	background: -o-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -o-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -o-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -o-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
	background: radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
	background-size: 100% 30em, 10px 10px, 10px 10px, 100% 30em;
	background-position: top center, 1px 1px, 0px 0px, top center;
	
	bottom: 0;
}
li span.example {
	background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;
}
span.true, span.false {
	display:inline-block;
	height:16px;
	width:16px;
	vertical-align:text-bottom;
}
span.true {
/*	background: url(accept_grey.png) center center;	*/
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAFo9M/3AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAfJJREFUeNpi/P//PwMIMG/evLmCk5PzMEAAMcJEGBYuXPjfyMjoP0AAMYBEYBgkCGaoqqr2qqmp/QexAQIIoQcG7O3t2UCCTk5O/0FamJKSkn46Ojr+j4+PB8kzwg2bO3cumA0QQJhmQIGHh8f/v3//OjNZWlpWLFq06D+Q3giSsLW1/Q/iR0VFMXz9+nUv2Bhtbe0uoJH/oUb/19HRAbHBcigeUVJSMoBJwDBAAOF0AwwwYRN0dXXNcXNzA+tkQZcEBkQ+0M8TWFhYGED+ZwERsbGxDLNnz/YEyqtnZmZO+PPnDwMI//jxw5YFSDCAVAMltiObNGXKFNtz584dATvS0NDwf2FhIVyyq6vL9sqVK0fAHJh3gGEBDgdgNNkgexM9HJiR+SAMEGAEwwEduLu7CwGpjzt37vyLNRhwAWD6yAd6dkJMTAyY7+zsDKI8wS4ARnAdkNMIxPVA3HH48OFfMI1AuXxmZuYJcXFx4NACAVAQgtjAoGVgNDMz+5+dnY0iMX36dAZgUqpkZWVtT05ORtEIAjNmzACbnZGRAQlmAwODLqDi0tzcXBSDYADG7+vrA2vMy8s7AkzpYDmUQNTS0uoCKiwtKSmBawLRPT09YI0VFRVHQF5BAejRAsIqKiq9Ghoa/4E0CNujJ2GKohEdAAAGElFAvv7njgAAAABJRU5ErkJggg==) center center;
}
tr.true td:first-child, span.true.example {
	color: #246;
	border-left: 1em solid #bcd;
}
tr.true td:last-child {
	border-right: 1em solid #bcd;
}
span.false {
/*	background: url(delete_grey.png) center center;	*/
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAFo9M/3AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAd1JREFUeNpi/P//PwMIMIGIjo6O/wABxIgiAgIAAQQWWbJkyX9+fn6GDx8+QGSuXLnC4OvrywiiAQIIrgcGWDZv3vz/2LFjYI6VlRUDE0gpExMTAwiD2Cxnzpz5z8fHB1Zx+vTp/wABxAAyA4Tr6+v/w9jIfBaY4ZycnAxTp079D7MUxEdx8L179xg+fvzIcPnyZTAN4sM9gg8ABGCEjFEgCGEoGhdPYGVv6b2mtxJPIHbWoteyGWwt7WxUcCHgwFS7XUg+L///n4LPcRtjfJQppY0JDsEYs6WUUGsFQghwziHnDNZa8rxQSm0hBAru+wbvPcHqDnaMAb13nOecb5POub3WgtYaLhljQCkFrTVBQikFDyEExF7Xtf+O+RWgdCpGgRAGgmsnqazsBDv1AX7DT0jafCb/sMgzfIGkibY2ltrdMQNK5ASLW1hCZjbL7k72NeDNriYwF+ccNdr3XcqylL7vk3h2IQTyx3FI13XStm1yqwBB0zRJVVW8b9sm67pKnueSZRkx773UdX0lf2zBGMM/h2mdPD403Fqb/EgdG0YOTZRSbAXlwtM0pT7gHxMMw/DRWlOvoihknmdq1TQNz2VZiIOHTIjnw3gLxnFkEqxojJ8OHDziTuxvGb8JvTJFv8lgtQAAAABJRU5ErkJggg==) center center;
}
tr.false td:first-child, span.false.example {
	color: #933;
	border-left: 1em solid #933;
}
tr.false td:last-child {
	border-right: 1em solid #933;
}
tr.nonspecific td:first-child, span.nonspecific.example {
	color: #993;
	border-left: 1em solid #ff5;
}
tr.nonspecific td:last-child {
	color: #993;
	border-right: 1em solid #ff5;
}
table.elems td:first-child {
	font-weight: bold;
	text-align:center;
}
table.elems td:first-child, span.example {
	text-shadow: 1px 1px 2px #667;
}
tr, td {
	vertical-align:middle;
}
td {
	padding:0.7em 0.15em;
}
td.info {
/*	width:50%;	*/
	text-align:right;
}
td.propscell {
	width:25em;
}
td.altpropscell {
	width:25em;
}
code {
	margin-right: 0.25em;
	font-style:italic;
}
span.propgood, span.propbad, span.global {
	font-family: Calibri, Lato, sans-serif, Arial;
	font-size: 0.74em;
	border-radius: 0.2em;
	margin: 0.3em;
	padding: 0.2em 0.4em;
	display:inline-block;
	vertical-align: text-top;
	box-shadow: 2px 2px 2px #333;
	background-color: #f0f0f6;
	outline: 1px solid #555;
	z-index:2;
}
span.propgood {
	border-bottom: 0.4em solid #bcd;
}
span.propgood.required {
	font-weight: bold;
	background-color: #fff;
	border-bottom: 0.4em solid #bcd;
}
span.propgood.isdep {
	font-weight: bold;
	font-style:italic;
	border-bottom: 0.4em solid #fa9;
	background-color: #f0f0f6!important;
}

td.altpropscell span.isdep {
}
td.altpropscell span.propgood, li span.propgood.nonstand {
	color: #246;	
	background-color: #ddf;
	font-weight: bold;
	border-bottom: 0.4em solid #246;
}
span.propbad {
	font-style:italic;
	color: #600;	
	border-bottom: 0.4em solid #900;
}
span.example {
	width: 6em;
	display:inline-block;
	background-position: right;
	background-repeat: no-repeat;
	padding:0.3em;
}
span.example:before {
	content:"";
}
span.global, li span.propgood.globalex {
	color: #555!important;
	background-color: #f9f9f9!important;
	font-weight: normal!important;
	font-style:normal!important;
	border-bottom: 0.4em solid #840!important;
}
span.propgood.obsolete, span.propbad.obsolete {
	font-weight: bold;
	font-style:italic;
	color: #003080!important;
	border-bottom: 0.4em solid #dda062;
	background-color: #f0f0f6!important;
}
span.missing {
	color: #600;
	font-style:normal;
	font-weight: bold;
	border-bottom: 0.4em solid #f33;
	background-color: #fee!important;
}
span.bld {
	font-weight:bold;
	font-size:0.9em;
	font-style:normal;
}
tr {
	vertical-align:middle;
}
table.elems tr:first-child {
	padding-left: 0.2em;
}
table.elems tr:hover {
	background-color: rgba(240, 240, 255, 0.5);
	color: #246;
}
table.elems tr.false:hover {
	background-color: rgba(255, 240, 240, 0.5);
	color: #933;
}
table.elems tr.nonspecific:hover {
	background-color: rgba(255, 255, 240, 0.5);
	color: #660;
}